.resource_methods
  %a{:id => "#{@resource_name}_method_#{@method_order}"}
  %h3= "#{@method} #{@url}"
  %p
    %strong Description:
    = @content
  %dl
    - if @access
      %dt Access:
      %dd= @access
    - if @return
      %dt Return:
      %dd= @return
    - if @params
      %dt Parameters:
      %dd
        %ul
          - @params.each do |v|
            %li= v
    - unless @outputs.empty?
      .output
        - @outputs.each do |output_format, output|
          %dt= "Sample #{output_format.upcase} Response"
          %dd
            %div{:class => output_format}
              %pre.prettyprint= output
    - unless @request.blank?
      %dt Request:
      %dd
        %pre.code
          %code= @request
    - unless @response.blank?
      %dt Response:
      %dd
        %pre.code
          %code= @response
